In [1]:
import pandas as pd
from math import log

In [2]:
data = {'early_registeration':[1,1,0,0,0,0,1,0,0,1,1,0,0,1], 'finished_homework':[1,1,0,1,1,0,0,1,0,0,1,1,0,0], 'senior':[0,1,1,1,1,1,0,0,1,0,1,1,0,0], 'likes_coffe':[0,0,0,0,0,1,0,1,0,0,0,1,0,1], 'liked_the_last_homework':[1,1,0,1,0,1,1,1,1,0,0,1,1,0], 'a':[1,1,0,0,1,1,0,1,1,0,1,0,0,1]}
df = pd.DataFrame(data)
df

,early_registeration,finished_homework,senior,likes_coffe,liked_the_last_homework,a
0,1,1,0,0,1,1
1,1,1,1,0,1,1
2,0,0,1,0,0,0
3,0,1,1,0,1,0
4,0,1,1,0,0,1
5,0,0,1,1,1,1
6,1,0,0,0,1,0
7,0,1,0,1,1,1
8,0,0,1,0,1,1
9,1,0,0,0,0,0
10,1,1,1,0,0,1
11,0,1,1,1,1,0
12,0,0,0,0,1,0
13,1,0,0,1,0,1

In [3]:
def get_main_class_entropy(df):
    class_count = dict()
    class_prob = []
    class_entropy = 0.0
    for i in range(len(df.a.unique())):
        class_count[df.a.unique()[i]] = len(df[df.a == df.a.unique()[i]])
        class_prob.append(class_count[df.a.unique()[i]]/len(df))
    for i in range(len(class_prob)):
        class_entropy += -(class_prob[i])*log(class_prob[i],len(class_prob))
    return class_entropy

In [4]:
def get_entropy(values):
    print(values)
    if values[2] != 0:
        first_entropy = -(values[2]/values[0])*log(values[2]/values[0], 2)
    else:
        first_entropy = 0
    if values[3] != 0:
        first_entropy += -(values[3]/values[0])*log(values[3]/values[0], 2)
    else:
        first_entropy += 0
    if values[4] != 0:
        second_entropy = -(values[4]/values[1])*log(values[4]/values[1], 2)
    else:
        second_entropy = 0
    if values[5] != 0:
        second_entropy += -(values[5]/values[1])*log(values[5]/values[1], 2)
    else:
        second_entropy+= 0
    return first_entropy, second_entropy

In [5]:
class_entropy = get_main_class_entropy(df)
class_entropy

0.9852281360342516

In [6]:
features = dict()

# first major class count, second major class count, first first minor class count, first second minor class count,
# second first minor class count, second second minor class count
for i in range(df.shape[1]-1):
    first_class = df[df[df.iloc[:,i].name] == 0]
    first_class_first_class = first_class[first_class[first_class.iloc[:,-1].name] == 0]
    first_class_secound_class = first_class[first_class[first_class.iloc[:,-1].name] == 1]
    second_class = df[df[df.iloc[:,i].name] == 1]
    second_class_first_class = second_class[second_class[second_class.iloc[:,-1].name] == 0]
    second_class_second_class = second_class[second_class[second_class.iloc[:,-1].name] == 1]

    features[df.iloc[:,i].name] = [len(first_class), len(second_class), len(first_class_first_class), len(first_class_secound_class), len(second_class_first_class), len(second_class_second_class)]
print(features)

{'early_registeration': [8, 6, 4, 4, 2, 4], 'finished_homework': [7, 7, 4, 3, 2, 5], 'senior': [6, 8, 3, 3, 3, 5], 'likes_coffe': [10, 4, 5, 5, 1, 3], 'liked_the_last_homework': [5, 9, 2, 3, 4, 5]}

In [7]:
entropy = dict()
for i in range(len(features)):
    first_ent, second_ent = get_entropy(features[list(features.keys())[i]])
    entropy[list(features.keys())[i]] = [first_ent, second_ent]
print(entropy)

[8, 6, 4, 4, 2, 4]
[7, 7, 4, 3, 2, 5]
[6, 8, 3, 3, 3, 5]
[10, 4, 5, 5, 1, 3]
[5, 9, 2, 3, 4, 5]
{'early_registeration': [1.0, 0.9182958340544896], 'finished_homework': [0.9852281360342516, 0.863120568566631], 'senior': [1.0, 0.9544340029249649], 'likes_coffe': [1.0, 0.8112781244591328], 'liked_the_last_homework': [0.9709505944546686, 0.9910760598382222]}

In [8]:
gain = dict()
for i in range(len(entropy)):
    feature_gain = class_entropy - (features[list(features.keys())[i]][0]/len(df))*entropy[list(entropy.keys())[i]][0] - (features[list(features.keys())[i]][1]/len(df))*entropy[list(entropy.keys())[i]][1]
    gain[list(features.keys())[i]] = feature_gain
print(gain)

{'early_registeration': 0.02024420715375619, 'finished_homework': 0.06105378373381032, 'senior': 0.011265848648557397, 'likes_coffe': 0.03914867190307081, 'liked_the_last_homework': 0.0013397424044413464}

In [9]:
print('Maximum gain is:',gain[max(gain.keys(), key=(lambda k: gain[k]))])
print('The best feature is:', max(gain.keys(), key=(lambda k: gain[k])))

Maximum gain is: 0.06105378373381032
The best feature is: finished_homework

In [10]:
def get_best_feature(df):

    class_entropy = get_main_class_entropy(df)
    class_entropy

    features = dict()

    # first major class count, second major class count, first first minor class count, first second minor class count,
    # second first minor class count, second second minor class count
    for i in range(df.shape[1]-1):
        first_class = df[df[df.iloc[:,i].name] == 0]
        first_class_first_class = first_class[first_class[first_class.iloc[:,-1].name] == 0]
        first_class_secound_class = first_class[first_class[first_class.iloc[:,-1].name] == 1]
        second_class = df[df[df.iloc[:,i].name] == 1]
        second_class_first_class = second_class[second_class[second_class.iloc[:,-1].name] == 0]
        second_class_second_class = second_class[second_class[second_class.iloc[:,-1].name] == 1]

        features[df.iloc[:,i].name] = [len(first_class), len(second_class), len(first_class_first_class), len(first_class_secound_class), len(second_class_first_class), len(second_class_second_class)]

    entropy = dict()
    for i in range(len(features)):
        first_ent, second_ent = get_entropy(features[list(features.keys())[i]])
        entropy[list(features.keys())[i]] = [first_ent, second_ent]

    gain = dict()
    for i in range(len(entropy)):
        feature_gain = class_entropy - (features[list(features.keys())[i]][0]/len(df))*entropy[list(entropy.keys())[i]][0] - (features[list(features.keys())[i]][1]/len(df))*entropy[list(entropy.keys())[i]][1]
        gain[list(features.keys())[i]] = feature_gain
    
    print("Gain =" , gain[max(gain.keys(), key=(lambda k: gain[k]))])
    return max(gain.keys(), key=(lambda k: gain[k])), features[max(gain.keys(), key=(lambda k: gain[k]))]

In [18]:
def decision_tree(df, levels):
    if levels == 1:
        feature, feature_info = get_best_feature(df)
        print("The best feature to split upon is: ", feature)
        print(feature, ': has',feature_info[0], 'in class 0' )
        print(feature, ': has',feature_info[1], 'in class 1' )
        print('class 0 has ', feature_info[2], 'of 0 classifications')
        print('class 0 has ', feature_info[3], 'of 1 classifications')
        print('class 1 has ', feature_info[4], 'of 0 classification')
        print('class 1 has ', feature_info[5], 'of 1 classification')

        classification_0 = feature_info.index(max([feature_info[2], feature_info[3]]))
        classification_1 = feature_info.index(max([feature_info[4], feature_info[5]]))

        if classification_0 == 2:
            print("it's false, class 0")
        if classification_0 == 3:
            print("it's true, class 1")
        if classification_1 == 4:
            print("it's false, class 0")
        if classification_1 == 5:
            print("it's true, class 1")
        print("###############################")
    if levels == 2:
        print("This is the first LEVEL")
        print("..............................")
        feature, feature_info = get_best_feature(df)
        print(feature, ': has',feature_info[0], 'in class 0' )
        print(feature, ': has',feature_info[1], 'in class 1' )
        print('class 0 has ', feature_info[2], 'of 0 classifications')
        print('class 0 has ', feature_info[3], 'of 1 classifications')
        print('class 1 has ', feature_info[4], 'of 0 classification')
        print('class 1 has ', feature_info[5], 'of 1 classification')

        classification_0 = feature_info.index(max([feature_info[2], feature_info[3]]))
        classification_1 = feature_info.index(max([feature_info[4], feature_info[5]]))

        if classification_0 == 2:
            print("it's false, class 0")
        if classification_0 == 3:
            print("it's true, class 1")
        if classification_1 == 4:
            print("it's false, class 0")
        if classification_1 == 5:
            print("it's true, class 1")
        df1 = df[df[feature] == 0].drop(columns=[feature])
        df2 = df[df[feature] == 1].drop(columns=[feature])
        
        print("###############################")
        ###############################
        print("This is the second LEVEL")
        print("..............................")
        feature, feature_info = get_best_feature(df1)
        print(feature, ': has',feature_info[0], 'in class 0' )
        print(feature, ': has',feature_info[1], 'in class 1' )
        print('class 0 has ', feature_info[2], 'of 0 classifications')
        print('class 0 has ', feature_info[3], 'of 1 classifications')
        print('class 1 has ', feature_info[4], 'of 0 classification')
        print('class 1 has ', feature_info[5], 'of 1 classification')

        classification_0 = feature_info.index(max([feature_info[2], feature_info[3]]))
        classification_1 = feature_info.index(max([feature_info[4], feature_info[5]]))

        if classification_0 == 2:
            print("it's false, class 0")
        if classification_0 == 3:
            print("it's true, class 1")
        if classification_1 == 4:
            print("it's false, class 0")
        if classification_1 == 5:
            print("it's true, class 1")
        ###############################
        print("###############################")
        feature, feature_info = get_best_feature(df2)
        print(feature, ': has',feature_info[0], 'in class 0' )
        print(feature, ': has',feature_info[1], 'in class 1' )
        print('class 0 has ', feature_info[2], 'of 0 classifications')
        print('class 0 has ', feature_info[3], 'of 1 classifications')
        print('class 1 has ', feature_info[4], 'of 0 classification')
        print('class 1 has ', feature_info[5], 'of 1 classification')

        classification_0 = feature_info.index(max([feature_info[2], feature_info[3]]))
        classification_1 = feature_info.index(max([feature_info[4], feature_info[5]]))

        if classification_0 == 2:
            print("it's false, class 0")
        if classification_0 == 3:
            print("it's true, class 1")
        if classification_1 == 4:
            print("it's false, class 0")
        if classification_1 == 5:
            print("it's true, class 1")

In [19]:
decision_tree(df, 2)

This is the first LEVEL
..............................
[8, 6, 4, 4, 2, 4]
[7, 7, 4, 3, 2, 5]
[6, 8, 3, 3, 3, 5]
[10, 4, 5, 5, 1, 3]
[5, 9, 2, 3, 4, 5]
Gain = 0.06105378373381032
finished_homework : has 7 in class 0
finished_homework : has 7 in class 1
class 0 has  4 of 0 classifications
class 0 has  3 of 1 classifications
class 1 has  2 of 0 classification
class 1 has  5 of 1 classification
it's false, class 0
it's true, class 1
###############################
This is the second LEVEL
..............................
[4, 3, 2, 2, 2, 1]
[4, 3, 3, 1, 1, 2]
[5, 2, 4, 1, 0, 2]
[3, 4, 2, 1, 2, 2]
Gain = 0.46956521111470706
likes_coffe : has 5 in class 0
likes_coffe : has 2 in class 1
class 0 has  4 of 0 classifications
class 0 has  1 of 1 classifications
class 1 has  0 of 0 classification
class 1 has  2 of 1 classification
it's false, class 0
###############################
[4, 3, 2, 2, 0, 3]
[2, 5, 0, 2, 2, 3]
[5, 2, 1, 4, 1, 1]
[2, 5, 0, 2, 2, 3]
Gain = 0.2916919971380596
early_registeration : has 4 in class 0
early_registeration : has 3 in class 1
class 0 has  2 of 0 classifications
class 0 has  2 of 1 classifications
class 1 has  0 of 0 classification
class 1 has  3 of 1 classification
it's false, class 0

# Part two

In [23]:
data = pd.read_csv("cardio_train.csv", sep= ';')

In [25]:
data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [30]:
def get_main_class_entropy(df):
    class_count = dict()
    class_prob = []
    class_entropy = 0.0
    for i in range(len(df.cardio.unique())):
        class_count[df.cardio.unique()[i]] = len(df[df.cardio == df.cardio.unique()[i]])
        class_prob.append(class_count[df.cardio.unique()[i]]/len(df))
    for i in range(len(class_prob)):
        class_entropy += -(class_prob[i])*log(class_prob[i],len(class_prob))
    return class_entropy, class_count, class_prob

In [31]:
cardio_entropy, cardio_count, class_prob = get_main_class_entropy(data)
print("Cardio entropy: ",cardio_entropy)
print("Cardio count: ",cardio_count)
print("Cardio probability: ",class_prob)

0.9999997403148772
{0: 35021, 1: 34979}
[0.5003, 0.4997]